<div class="hamburger-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Meny (kommer att visas när hamburgermenyn är öppen) -->
  <div class="menu">
        <ul>
            <li><a href="/about">About me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/">Skills</a></li>
            <li><a href="mailto:danielliden2@hotmail.com">Contact</a></li>
        </ul>
    </div>



<div class="page-container">

 <div class="sidebar-container">
    <a id="logo-link" href="/">
        <img id="side-logo" src="/img/dlLogoWhiteText.svg" alt="">
    </a>
        <a class="side-menu-item" id="selected" href="/about">ABOUT ME</a>
        <a class="side-menu-item" href="/skills">SKILLS</a>
        <a class="side-menu-item" href="/projects">PROJECTS</a>
        <a class="side-menu-item" href="/contact">CONTACT</a>
    </div>



<div class="page-content">

<div class="page-top">
    <h1>ABOUT ME</h1>
</div>

<div class="page-content-container about-content-container">
    <div>
    <h2>Who am I?</h2>
    <p class="last-p">
            I'm currently in education within Graphic Design and Web Development at Jönköping University (Tekniska Högskolan, Jönköping). 
            My education and interest covers areas of web development & web design, graphic design, motion graphics, UI/UX, and more. 
            I also have an interest within information- and cybersecurity, an area I'm considering to deepen by an one-year master’s degree (magister) 
            in Cybersecurity to complement my interest within Graphic Design and Web Development.
        </p>

        <h2>Education</h2>
        <p class="last-p"> I'm currently in education within Graphic Design and Web Development at Jönköping University (Tekniska Högskolan, Jönköping). 
            My education and interest covers areas of web development & web design, graphic design, motion graphics, UI/UX, and more. 
            I also have an interest within information- and cybersecurity, an area I'm considering to deepen by an one-year master’s degree (magister) 
            in Cybersecurity to complement my interest within Graphic Design and Web Development.</p>

            <h2>Experience</h2>
    </div>
    <div>
        <img src="/img/daniel-portfolio.jpg" alt="Image of Daniel" id="about-image">
    </div>
    
</div>

</div>
</div>