 <div class="hamburger-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Meny (kommer att visas när hamburgermenyn är öppen) -->
    <div class="menu">
        <ul>
            <li><a href="/about">About me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/">Skills & Software</a></li>
            <li><a href="mailto:danielliden2@hotmail.com">Contact</a></li>
        </ul>
    </div>


<div class="page-container">

<div class="home-text-box">
    <div class="home-text-content">
        <h1 id="home-header">Daniel Lidén</h1>
        <h2 id="home-header-second">Web Developer & Graphic Designer</h2>

        <p id="home-paragraph">
            I'm currently in education within Graphic Design and Web Development at Jönköping University (Tekniska Högskolan, Jönköping). 
            My education and interest covers areas of web development & web design, graphic design, motion graphics, UI/UX, and more. 
            I also have an interest within information- and cybersecurity, an area I'm considering to deepen by an one-year master’s degree (magister) 
            in Cybersecurity to complement my interest within Graphic Design and Web Development.
        </p>

        <a href="/about" id="a-buttons">Learn more</a>
        
    </div>

</div>

<img src="/img/daniel.jpg" alt="Image of Daniel" id="home-image">

</div>